*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    color: 	#1e008b;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    color: rgb(255,255,255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(0,0,0,0.150);
}

.mylogo {
    position: relative;
    font-size: 20px;
    color: rgb(255,255,255);
    text-decoration: none;
    font-weight: 800;
    cursor: pointer;
}

.navbar a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 30px;
}

.navbar a:hover{
    color: rgb(0, 68, 255);
}


.menuToogle {
  display: none;
  flex-direction: column;
  height: 21.5px;
  justify-content: space-between;
  position: relative;
}

.menuToogle input {
  position: absolute;
  width: 20px;
  height: 28px;
  left: -5.5px;
  opacity: 0;
  z-index: 2;
}

/* animation */

.menuToogle span:nth-child(2) {
  transform-origin: 0 0;
  
}

.menuToogle span:nth-child(4) {
  transform-origin: 0 0;
}

.menuToogle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(1px , 0px);
}

.menuToogle input:checked ~ span:nth-child(3) {
  opacity: 0;
  scale: 0;
}

.menuToogle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 1px);
}

.menuToogle span {
  display: block;
  width: 28px;
  height: 2px;
  background-color: #fff;
  border-radius: 3px;
  transition: 0.5s;

}


.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    background-color: rgb(0,0,50);
    padding: 70px 10%;
}

.content{
    max-width: 600px;
}

.content h3{
    font-size: 32px;
    font-weight: 700;
    color: rgb(235,235,255);
}

.content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    color: white;
}

span {
    color: blue;
}

.content p {
    display: inline;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 20px;
    color: rgb(183,183,183);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.image-container {
    position: absolute;
    top: 23%;
    right: 150px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

/* Untuk layar dengan lebar maksimum 768px */
@media (max-width: 768px) {
    .header {
      padding: 10px;
    }
    
    .navbar {
      background: #00000073;
      backdrop-filter: blur(20px);
      border-radius: 10px;
      padding: 20px;
      position: absolute;
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      margin-top: 120%;
      left: 60%;
      transform: translateY(-150%);
      transition: all 0.5s;
      opacity: 0;
      z-index: -1;
      height: 0;
    }

    .navbar a.slide {
      height: 50vh;
      opacity: 1;
      transform: translateY(0);
    }

    .menuToogle {
      margin: 8px 70px 8px 40px;
      display: flex;
}

    
    .home {
      padding: 50px 5%;
    }
    
    .content {
      max-width: 100%;
      text-align: center;
    }
    
    .image-container {
      display: none; /* Menyembunyikan gambar saat layar kecil */
    }
  }
  
  /* Untuk layar dengan lebar maksimum 1024px */
  @media (max-width: 1024px) {
    .content h3 {
      font-size: 28px;
    }
    
    .content h1 {
      font-size: 40px;
    }
  }
  
  /* Untuk layar dengan lebar minimum 1200px */
  @media (min-width: 1200px) {
    .header {
      padding: 30px 20px;
    }
    
    .navbar {
      display: flex;
    }
    
    .home {
      padding: 70px 10%;
    }
    
    .content {
      max-width: 600px;
      text-align: left;
    }
    
    .image-container {
      display: block;
    }
  }
  